.input-container {
  position: relative;
}

input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    90deg,
    rgb(15, 223, 242) 10%,
    rgb(0, 255, 204) 100%
  );
  border-image-slice: 1;
  transition: border-image 0.25s ease-in-out;
  letter-spacing: 0.06rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

input::placeholder {
  font-weight: 600;
}

input:focus,
input:hover {
  border-width: 2px;
  border-image: linear-gradient(
    90deg,
    rgb(15, 102, 242) 10%,
    rgb(0, 255, 255) 100%
  );
  border-image-slice: 1;
}

.icon {
  position: absolute;
  top: 50%;
  right: 20px;
  color: rgb(10, 51, 108);
  transform: translateY(-50%);
  cursor: pointer;
}