<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1>{{ title }}</h1>

  <app-input
    *ngFor="let control of formGroup.controls | keyvalue"
    [placeholder]="control.key"
    [name]="control.key"
    [controlValue]="formGroup.get(control.key)"
    [type]="getType(control.key)"
  />
  <app-checkbox
    *ngIf="checkboxText"
    [checkboxText]="checkboxText"
  ></app-checkbox>
  <app-button type="submit" [disabled]="!formGroup.valid">{{
    buttonText
  }}</app-button>
  <p
    class="additional-link"
    *ngIf="additionalLinkText || additionalLinkTextGeneral"
  >
    {{ additionalLinkTextGeneral }}
    <a [routerLink]="additionalLink">
      {{ additionalLinkText }}
    </a>
  </p>
</form>
