<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1>{{ title }}</h1>
  <div *ngFor="let control of formGroup.controls | keyvalue">
    <app-input
      [placeholder]="control.key"
      [name]="control.key"
      [control]="formGroup.get(control.key)"
      [type]="getType(control.key)"
    />
    <div *ngIf="control.value.errors?.['required'] && control.value.touched">This field is required</div>
  </div>

  <app-checkbox
    *ngIf="checkboxText"
    [checkboxText]="checkboxText"
  ></app-checkbox>
  <app-button type="submit">{{ buttonText }}</app-button>
  <p
    class="additional-link"
    *ngIf="additionalLinkText || additionalLinkTextGeneral"
  >
    {{ additionalLinkTextGeneral }}
    <a [routerLink]="additionalLink">
      {{ additionalLinkText }}
    </a>
  </p>
</form>
