<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1>{{ title }}</h1>
  <div *ngFor="let control of formGroup.controls | keyvalue">
    <app-input
      [placeholder]="control.key"
      [name]="control.key"
      [control]="formGroup.get(control.key)"
      [type]="getType(control.key)"
    />
    <p class="error-message" *ngIf="control.value.errors?.['required'] && control.value.touched">This field is required</p>
    <p class="error-message" *ngIf="control.value.errors?.['minlength'] && control.value.touched">The length should be longer</p>
    <p class="error-message" *ngIf="control.value.errors?.['maxlength'] && control.value.touched">The length should be shorter</p>
    <p class="error-message" *ngIf="control.value.errors?.['email'] && control.value.touched">This must be email</p>
  </div>

  <app-checkbox
    *ngIf="checkboxText"
    [checkboxText]="checkboxText"
    (toggleCheckboxEvent)="log($event)"
  ></app-checkbox>
  <app-button type="submit" [disabled]="!formGroup.valid">{{ buttonText }}</app-button>
  <p
    class="additional-link"
    *ngIf="additionalLinkText || additionalLinkTextGeneral"
  >
    {{ additionalLinkTextGeneral }}
    <a [routerLink]="additionalLink">
      {{ additionalLinkText }}
    </a>
  </p>
</form>
