/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  background-color: #e3e3e3;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #212121;
  font-family: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


input::placeholder {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}